
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background: #f8f9fb;
    overflow: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    position: relative;
    top: 0;
    left: 0;
}

.logo {
    width: 120px;
    height: auto;
    margin-top: 30px;
}


.start-ar-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.hidden {
    display: none;
}

.start-ar-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.5;
}

.position-button {
    background-color: white;
    top: 8px;
    left: 90px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: -70px;
    font-size: 14px;
    padding: 10px 16px;
    opacity: 0.7;
}

#map-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#map-image {
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#destination-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 75%;
    max-width: 300px;
    margin-bottom: 10px;
}

#confirm-destination {
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    background-color: #4A90E2;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.destination-display {
    text-align: center;
    font-size: 15px;
    margin-top: 230px;
    color: #333;
}

.start-info {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
    color: #4A90E2;
    top: 40px;
}

.ar-notice {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
    color: white;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 500;
    z-index: 1000;
    animation: fadein 0.3s ease;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

#minimap-container {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: white;
    padding: 8px;
    z-index: 999;
}

#minimap {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

#minimap-marker {
    position: absolute;
    width: 4px;
    height: 4px;
    background: red;
    border: 1.5px solid white;
    border-radius: 50%;
    top: 100px; /* 초기 위치 */
    left: 50px;
}
